$icon-font-path: "/fonts/"; /* use fonts from priv/static/fonts/ */
@import "bootstrap"; /* imports node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss */

details.module-details {
  summary:focus {
    outline: none;
  }
}

header {
  margin-bottom: 1em;
}

footer {
  border-top: 1px solid #eeeeee;
  padding-top: 0.5em;
}

.record {
  padding-bottom: 1em;

  .attribute {
    @extend .col-md-2;
    font-weight: bold;
  }

  .value {
    @extend .col-md-10;
  }

  .value-short {
    @extend .col-md-4;
  }
}
